body {
	font-family: 'Inter UI', sans-serif;
}

.splash {
	background-image: linear-gradient(to bottom, #229CB9, #1996FF);
	position: relative;
	height: 500px;
}


.nav {
	font-family: 'Nunito', sans-serif;
	color: white;
	font-size: 20px;
	padding-top: 20px;
	display: inline-block;
	width: 100%;
}

.nav a {
	color: inherit;
	text-decoration: none;
}

.nav p {
	margin: 0px;
	padding-left: 20px;
	float: left;
}

.nav span {
	font-size: 16px;
	float: right;
	padding-right: 25px;
	line-height: 24px;
}

.nav span:hover {
	color: #E3E3E3;
	cursor: pointer;
}

.bg span, .bg li {
	color: #555;
	font-size: 17px;
	line-height: 23px;
}

.bg ul {
	list-style-type: none;
}

.bg a {
	color: inherit;
}

.spacer {
	padding-top: 140px;
}

.bio img {
	position: absolute;
	left: 0;
	bottom: -44px;
}

h1 {
	font-family: 'Lora', serif;
	font-weight: 400;
	line-height: 40px;
	padding-right: 10px;
	padding-top: 170px;
	font-size: 34px;
}

.title {
	font-size: 22px;
	letter-spacing: -0.25px;
	line-height: 24px;
	margin-top: 30px;
}

.bg {
	background-color: rgba(255, 255, 255, 0.95);
	margin-top: 70px;
	padding-top: 5px;
	border-radius: 5px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	margin-bottom: 50px;
}

.bg p {
	color: #555;
	font-size: 17px;
	line-height: 23px;
}

.first {
	background-color: #1996FF;
	padding: 10px 40px 10px 40px;
	margin-top: 10px;
	font-size: 14px;
	letter-spacing: 0.5px;
	color: white;
	display: inline-block;
	font-weight: 600;
	-webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.5);
}

.first:hover {
	cursor: pointer;
	-webkit-box-shadow: 0px 6px 25px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 6px 25px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 6px 25px 0px rgba(0,0,0,0.6);
}

.first-w {
	background-color: white;
	padding: 10px 40px 10px 40px;
	margin-top: 10px;
	font-size: 14px;
	letter-spacing: 0.5px;
	color: #1996FF;
	display: inline-block;
	font-weight: 600;
	-webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.5);
}

.first-w:hover {
	cursor: pointer;
	-webkit-box-shadow: 0px 6px 25px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 6px 25px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 6px 25px 0px rgba(0,0,0,0.6);
}

#two {
	position: relative;
	top: 400px;
}

.second {
	border: solid 2px #000;
	padding: 8px 45px 8px 45px;
	margin-top: 10px;
	font-size: 14px;
	letter-spacing: 0.5px;
	color: black;
	display: inline-block;
	font-weight: 600;
	margin-left: 30px;
}

.second:hover {
	cursor: pointer;
	outline: 1px solid #000;
	outline-offset: -3px;
}

.journey {
	margin-top: 450px;
}

.journey span {
	color: #229CB9;
}

h2 u {
	text-decoration-color: #229CB9;
	text-underline-position: under;
}

h2 {
	color: #585858;
	font-size: 26px;
	font-weight: 400;
	margin-top: 50px;
	line-height: 40px;
	font-family: 'Arvo', serif;
}

.journey img {
	padding-right: 20px;
}

.profile img {
	width: 300px;
	position: relative;
	top: -30px;
}

.section {
	background-image: linear-gradient(to bottom, #229CB9, #1996FF);
	height: 280px;
	margin-top: 100px;
}

.bio {
	font-size: 18px;
	color: white;
	line-height: 24px;
	padding-top: 10px;
}

.more {
	padding-bottom: 50px;
}

.more p {
	color: #1996FF;
	font-size: 20px;
	margin-top: 100px;
}

.more li {
	color: #696969;
	font-size: 16px;
	line-height: 32px;
	list-style-type: none;
}

.more ul {
	padding-left: 0;
}

.more-1 {
	padding-top: 130px;
}

.more-1 p {
	color: #1996FF;
	font-size: 20px;
	margin-top: 100px;
}

.more-1 li {
	color: #696969;
	font-size: 16px;
	line-height: 32px;
	list-style-type: none;
}

.more-1 ul {
	padding-left: 0;
}

.cards p {
	color: #4C4C4C;
	line-height: 24px;
	margin-bottom: 0;
}

.cards img {
	width: 70px;
}

.card-outline {
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	padding: 30px;
	width: 340px;
	margin-top: 100px;
	margin-left: 50px;
}

.card-outline:hover {
	cursor: pointer;
	-webkit-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.54);
	-moz-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.54);
	box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.54);
}

.footer {
	background-color: #464646;
	padding-bottom: 100px;
}

h3 {
	color: white;
	font-size: 20px;
	font-family: 'Inter UI', sans-serif;
	font-weight: 400;
	margin-top: 75px;
}

.third {
	background-color: #1996FF;
	padding: 15px 40px 15px 40px;
	margin-top: 10px;
	font-size: 14px;
	letter-spacing: 0.5px;
	color: white;
	display: inline-block;
	font-weight: 600;
	-webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.7);
	box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.7);
}

.third:hover {
	cursor: pointer;
	-webkit-box-shadow: 0px 6px 25px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 6px 25px 0px rgba(0,0,0,1);
	box-shadow: 0px 6px 25px 0px rgba(0,0,0,1);
}

h4 {
	color: white;
	font-size: 18px;
	font-family: 'Inter UI', sans-serif;
	font-weight: 400;
	margin-top: 70px;
	margin-bottom: 20px;
}

.footer p {
	color: white;
	width: 300px;
	line-height: 20px;
}

.column {
	margin-left: 100px;
	margin-top: 30px;
}

.column img {
	margin-right: 30px;
}

.column img:hover {
	-webkit-box-shadow: 0px 6px 25px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 6px 25px 0px rgba(0,0,0,1);
	box-shadow: 0px 6px 25px 0px rgba(0,0,0,1);
}

.column a {
	color: white;
	text-decoration: none;
}

.column a:hover {
	color: #1996FF;
}

@media only screen and (max-width: 1095px) {

		.bio img {
		transform: scale(0.9);
		left: -20px;
		bottom: -61px;
	}

    .journey {
    	margin-top: 250px;
    }

    .footer p {
    	width: inherit;
    }

    .card-outline {
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	padding: 20px;
	width: 250px;
	margin-top: 100px;
	margin-left: 20px;
	}

	.bio {
	font-size: 16px;
	}

	.column img {
		margin-right: 10px;
	}
}

@media only screen and (max-width: 791px) {

		.bio img {
		transform: scale(0.8);
		left: -34px;
		bottom: -78px;
	}

	.spacer {
		padding-top: 270px;
	}
}

@media only screen and (max-width: 639px) {
	
    .nav p, .nav span {
		display: block;
		width: 100%;
		text-align: center;
		padding: 0;
		padding-bottom: 15px;
	}

	.nav p {
		padding-bottom: 30px;
	}

	.nav span {
		padding: none;
	}

	.nav {
		padding-top: 0;
	}

	.bg {
		margin-top: 40px;
	}

	.bio img {
		display: none;
	}

	.spacer {
		padding-top: 350px;
	}

    h1 {
    	padding-top: 70px;
    	font-size: 28px;
    	line-height: 34px;
    }

    .title {
    	font-size: 18px;
    	line-height: 22px;
    }

    .second {
    	margin-left: 0;
    	margin-top: 20px;
    }

    .nav a {
    	padding-right: 15px;
    }

    h2 {
    	font-size: 20px;
    	line-height: 28px;
    }

    .bio {
    	font-size: 16px;
    	line-height: 20px;
    	margin-top: 0;
    	padding-top: 0;
    }

    .bg p, .bg span, .bg li {
    	font-size: 14px;
    	line-height: 18px;
    }

    .spacer {
    	padding-top: 200px;
    }

    .section {
    	margin-top: 50px;
    }

    .more {
    	margin-top: 180px;
    }

    .card-outline {
    	margin-top: 0px;
    	margin-left: 0;
    	padding: 20px;
    	width: 320px;
    }

    .cards {
    	padding-bottom: 70px;
    }

    .column {
    	margin: 0;
    	padding: 0;
    }

    .column img {
    	margin-right: 40px;
    }

    .more-1 {
    	padding-top: 0px;
    	padding-bottom: 50px;
    }

    .more {
    	padding-bottom: 0px;
    }

    .more-1 ul {
    	margin-top: 0;
    }

    .more ul {
    	margin-bottom: 0;
    }

}





